# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Tableau
*.hyper
*.tde

# Logs
*.log
.virtual_documents/
